<article class="article-news">

    <h3 class="subtitle">Simon R live set on Facebook</h3>
    <p class="article-data">Published on 12-04-2020</p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu ipsum, fringilla eget pellentesque
        eget,
        commodo
        in odio. Aliquam auctor consequat orci, quis consectetur mi porttitor sit amet. Ut malesuada lacus ligula, a
        ultrices
        felis aliquet quis. Suspendisse id varius est. Duis sit amet ex non magna lobortis suscipit at at mauris.
        Integer
        porttitor, turpis non hendrerit suscipit, lorem diam laoreet tortor, feugiat pharetra mauris nisi id erat.
        Quisque at
        rhoncus lacus. Nunc vitae magna malesuada, sollicitudin nibh id, consectetur dolor. Maecenas mollis orci
        felis,
        hendrerit elementum orci bibendum sed. Fusce fringilla orci sed felis vehicula, vel hendrerit augue
        facilisis.

    </p>

    <button class="button centered">Listen</button>

</article>