<article class="article-news">

    <h3 class="subtitle">Simon R live set on Facebook</h3>
    <p class="article-data">Published on 12-04-2020</p>

    <p>
        Simon R recorded a Live Set for facebook with all originals sounds. 
        This 30 minutes ride will take you to a good place. 
        Inspired what he has in the Studio, he made this musics using Korg Minilog, Elecktron Digitone, Arturia MiniBrute 2S, Arturia DrumBrute, Rolland TR-8, Korg Volca Bass, Pioneer RMX1000, Machine and Ableton Live. 
    </p>

    <button class="button centered" routerLink="/music">Listen</button>

</article>