<div class="container-player">

    <!-- Left Side -->
    <div id="left-side">

        <div class="about-track">
            <!-- Track Cover Image -->
            <img class="track-cover" src="../../../assets/images/cover.jpg">

            <!-- Track Info -->
            <div class="music-info">
                <h1 class="artist">{{ selectedMusic.artist }} <span *ngIf="selectedMusic.artist2 !null">&
                        {{ selectedMusic.artist2 }}</span></h1>
                <h2 class="track">{{ selectedMusic.title }}</h2>
                <p class="album">{{ selectedMusic.album }}</p>
            </div>
        </div>
        <!-- Actions Left (Like, Share) -->
        <div class="actions-left">

            <!-- Icon Heart (Add to favorites) -->
            <button (click)="likeMusic()">
                <app-my-svgs [svgName]="musicIsLiked ? SvgNameEnum.HEART_ORANGE : SvgNameEnum.HEART" [width]="'16px'"
                    [height]="'16px'">
                </app-my-svgs>
            </button>

            <!-- Icon Share -->
            <!-- <app-my-svgs [svgName]="SvgNameEnum.SHARE" [width]="'16px'" [height]="'16px'">
            </app-my-svgs> -->
        </div>
    </div>

    <!-- Track Progress -->
    <div class="track-progress">
        <p class="track-time progress">00:00</p>
        <div id="progressContainer" (click)="setProgressBar($event)" #progressContainer >
        <div id="progress-bar" #progressBar></div>
        </div>
        <p class="track-time total">0{{ selectedMusic.duration }}</p>
    </div>

    <!-- Right Side -->
    <div id="right-side">

        <div class="actions">
            <!-- Icon Previous Track -->
            <button (click)="previousMusic()">
                <app-my-svgs [svgName]="SvgNameEnum.PREVIOUS" [width]="'16px'" [height]="'16px'">
                </app-my-svgs>
            </button>
            <!-- Icon Play-->
            <button (click)="musicIsPlaying ? pauseMusic() : playMusic()">
                <app-my-svgs id="icon-play" [svgName]="musicIsPlaying ? SvgNameEnum.PAUSE : SvgNameEnum.PLAY"
                    [width]="'18px'" [height]="'22px'">
                </app-my-svgs>
            </button>

            <!-- Icon Next Track -->
            <button (click)="nextMusic()">
                <app-my-svgs [svgName]="SvgNameEnum.NEXT" [width]="'16px'" [height]="'16px'">
                </app-my-svgs>
            </button>
        </div>

        <audio [src]="url" (timeupdate)="updateProgressBar()" (ended)="audioEnded()" id="audio" #audioEl></audio>

        <div class="actions-right">

            <!-- Icon Suffle Playlist -->
            <button (click)="suffleMusic()">
                <app-my-svgs [svgName]="SvgNameEnum.SUFFLE" [width]="'16px'" [height]="'16px'">
                </app-my-svgs>
            </button>

            <!-- Icon Reapeat Track -->
            <button (click)="repeatMusic()">
                <app-my-svgs [svgName]="!repeatMode ? SvgNameEnum.REPEAT : SvgNameEnum.REPEAT_ORANGE" [width]="'16px'" [height]="'16px'">
                </app-my-svgs>
            </button>
        </div>

        <!-- Volume Controler -->
        <button class="volume" (click)="muteMusic()">
            <app-my-svgs [svgName]="musicIsMute ? SvgNameEnum.MUTE : SvgNameEnum.VOLUME" [width]="'16px'"
                [height]="'16px'">
            </app-my-svgs>
        </button>
    </div>
</div>