@import "../../../variables";

#vulcano1 {
  margin-top: 10%;
  position: absolute;
  z-index: -5;
}

#vulcano2 {
  margin-top: 26%;
  position: absolute;
  z-index: -4;
}

//Balls
#balls1 {
  @include balls(20%, 220px);
  top: -8%;
  right: 10%;
}

#balls2 {
  @include balls(20%, 240px);
  top: 20%;
  left: 17%;
}

#magma1{
  width: 80%;
    max-width: 200px;
    height: auto;
    left: 23%;
    position: absolute;
    top: 7%;
    z-index: -1;
}