<article class="article-about">

    <div class="container-text-buttons">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu ipsum, fringilla eget pellentesque
            eget,
            commodo
            in odio. Aliquam auctor consequat orci, quis consectetur mi porttitor sit amet. Ut malesuada lacus ligula, a
            ultrices
            felis aliquet quis. Suspendisse id varius est. Duis sit amet ex non magna lobortis suscipit at at mauris.
            Integer
            porttitor, turpis non hendrerit suscipit, lorem diam laoreet tortor, feugiat pharetra mauris nisi id erat.
            Quisque at
            rhoncus lacus. Nunc vitae magna malesuada, sollicitudin nibh id, consectetur dolor. Maecenas mollis orci
            felis,
            hendrerit elementum orci bibendum sed. Fusce fringilla orci sed felis vehicula, vel hendrerit augue
            facilisis.
            Sed
            lobortis sit amet lacus in rhoncus. Donec pulvinar molestie malesuada. Curabitur auctor hendrerit leo sit
            amet
            mattis.
            Aenean lacus arcu, vulputate vel nibh vitae, porttitor commodo felis. Nam efficitur urna sed nulla lobortis
            convallis.
            Donec sollicitudin nisl in pharetra sodales. Morbi fermentum nulla sem, ut dictum risus sodales quis. Sed
            eget
            tellus
            viverra, sagittis metus eget, mattis arcu. Sed tristique nibh ac lacus feugiat sagittis. Etiam sed ante
            vitae
            tortor
            laoreet sodales ut ac mauris. Vivamus vulputate ex ut purus posuere, id luctus nisi condimentum. Aenean
            sollicitudin
            gravida felis. Phasellus luctus porttitor ligula, a tempus risus. Suspendisse potenti. Proin eget risus nec
            leo
            convallis tempus vitae sit amet magna. Morbi cursus sem sit amet massa pharetra congue. Morbi in ante vitae
            ex
            congue
            dapibus. Cras facilisis tempor neque vel porta. Nam iaculis orci sit amet orci gravida bibendum et non.</p>

        <div class="article-buttons">
            <button class="button">Know more</button>
            <button class="button auto">What's hot know?</button>
        </div>
    </div>

</article>