<article class="article-about">

    <div class="container-text-buttons">
        <p> Magma Studio was founded in 2016 by Simão Rocha aka Simon R. 
            A Dj for over 10 years, decided to take a step furder and start producing. At that point, the magic was starting to happen...
         Inspired by his surroundings, the beautiful mid-atlantic Azores Islands, the name was born: Magma. Like a extremely hot liquid made of rock, trying to reach the surface of a volcano to become lava. In the studio music is desired to be created. And is tryng to reach higger levels. 
         Starting as a standalone project, now having contributions of various artists, with various styles and tastes of music. But always in syntony to create a beautiful magic music. Magma Studio is a place that you can call home and be creative. Get to know more about us and support our music. 
        </p>

        <div class="article-buttons">
            <button class="button auto">
                <a href="#section-news">What's Fresh Now?</a></button>
        </div>
    </div>

</article>