<app-background-svg></app-background-svg>

<app-section-news></app-section-news>

<div class="wrapper-container">
    <article class="article-news">

        <h3 class="subtitle">Simon R live set on Facebook</h3>
        <p class="article-data">Published on 12-04-2020</p>

        <p>

        Simon R recorded a Live Set #2 for facebook with all originals sounds. 
        To continue the project of Live Sets, he made a second one. Better than the first one we hope..
        Inspired what he has in the Studio, he made this musics using Korg Minilog, Elecktron Digitone, Arturia MiniBrute 2S, Arturia DrumBrute, Rolland TR-8, Korg Volca Bass, Pioneer RMX1000, Machine and Ableton Live. 

        </p>

        <button class="button centered">Listen</button>

    </article>

    <div class="visual-container">
        <iframe class="inner-visual"
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsimonr.musician%2Fvideos%2F265441987830720%2F&show_text=0&width=560"
            style="border:none; overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            allowFullScreen="true" autoplay="true"></iframe>
    </div>

</div>

<!-- Music Player -->
<app-music-player></app-music-player>