<app-background-svg></app-background-svg>

<app-section-news></app-section-news>

<div class="wrapper-container">
    <article class="article-news">

        <h3 class="subtitle">Simon R live set on Facebook</h3>
        <p class="article-data">Published on 12-04-2020</p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu ipsum, fringilla eget pellentesque
            eget,
            commodo
            in odio. Aliquam auctor consequat orci, quis consectetur mi porttitor sit amet. Ut malesuada lacus ligula, a
            ultrices
            felis aliquet quis. Suspendisse id varius est.

        </p>

        <button class="button centered">Listen</button>

    </article>

    <div class="visual-container">
        <iframe class="inner-visual"
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsimonr.musician%2Fvideos%2F265441987830720%2F&show_text=0&width=560"
            style="border:none; overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            allowFullScreen="true" autoplay="true"></iframe>
    </div>

</div>

<!-- Music Player -->
<app-music-player></app-music-player>