<section id="section-music-list">
    <div class="header-music-list">

        <div class="right-side">
            <h1 class="title">Tracks</h1>
            <button class="play">
                <app-my-svgs [svgName]="SvgNameEnum.PLAY_CIRCLE" [width]="'40px'" [height]="'40px'">
                </app-my-svgs>
            </button>
        </div>

        <div class="left-side">
            <button class="list-grid-view">
                <app-my-svgs [svgName]="SvgNameEnum.LIST" [width]="'24px'" [height]="'22px'">
                </app-my-svgs>
            </button>
        </div>
    </div>

    <table id="table-music-list">
        <thead>
            <th class="th-cover-img"></th>
            <th class="th-title">TITLE</th>
            <th>ARTISTS</th>
            <th>ALBUM</th>
            <th>GENRE</th>
            <th>RELEASED</th>
            <th class="th-actions"></th>
        </thead>

        <tbody>
            <tr>
                <td class="img"><img class="cover-img" src="../../../assets/cover.jpg"></td>
                <td class="cover-and-title">Track Name</td>
                <td class="artist">Artist</td>
                <td>Album/EP or Playlist</td>
                <td>Techno</td>
                <td>04 April 2020</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="img"><img class="cover-img" src="../../../assets/cover.jpg"></td>
                <td class="cover-and-title">Track Name</td>
                <td class="artist">Artist</td>
                <td>Album/EP or Playlist</td>
                <td>Techno</td>
                <td>04 April 2020</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="img"><img class="cover-img" src="../../../assets/cover.jpg"></td>
                <td class="cover-and-title">Track Name</td>
                <td class="artist">Artist</td>
                <td>Album/EP or Playlist</td>
                <td>Techno</td>
                <td>04 April 2020</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="img"><img class="cover-img" src="../../../assets/cover.jpg"></td>
                <td class="cover-and-title">Track Name</td>
                <td class="artist">Artist</td>
                <td>Album/EP or Playlist</td>
                <td>Techno</td>
                <td>04 April 2020</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="img"><img class="cover-img" src="../../../assets/cover.jpg"></td>
                <td class="cover-and-title">Track Name</td>
                <td class="artist">Artist</td>
                <td>Album/EP or Playlist</td>
                <td>Techno</td>
                <td>04 April 2020</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>

            <tr>
                <td class="img"><img class="cover-img" src="../../../assets/cover.jpg"></td>
                <td class="cover-and-title">Track Name</td>
                <td class="artist">Artist</td>
                <td>Album/EP or Playlist</td>
                <td>Techno</td>
                <td>04 April 2020</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="grid-view-container">

        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>

        </div>

        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>

        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>


        <div class="grid-item">
            <img class="grid-item-cover" src="../../../assets/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">Artist Name</h2>
                    <p>Track Name</p>
                    <p>Album or Playlist</p>
                </div>
                <button class="grid-heart-button">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>

    </div>


</section>