<app-background-svg></app-background-svg>

<section id="section-music-list">
    <div class="header-music-list">

        <div class="right-side">
            <h1 class="title">Tracks</h1>
            <!-- <button class="play">
                <app-my-svgs [svgName]="SvgNameEnum.PLAY_CIRCLE" [width]="'40px'" [height]="'40px'">
                </app-my-svgs>
            </button> -->
        </div>

        <div class="left-side">
            <button (click)="toggleListGridView()" class="list-grid-view">
                <app-my-svgs [svgName]="isOnListView === true ? SvgNameEnum.GRID :  SvgNameEnum.LIST" [width]="'24px'" [height]="'22px'">
                </app-my-svgs>
            </button>
        </div>
    </div>

    <!-- LIST VIEW -->
    <table id="table-music-list" *ngIf="isOnListView">
        <thead>
            <th class="th-cover-img"></th>
            <th class="th-title">TITLE</th>
            <th>ARTISTS</th>
            <th>ALBUM</th>
            <th>GENRE</th>
            <th>RELEASED</th>
            <th class="th-actions"></th>
        </thead>

        <tbody>
            <tr *ngFor="let music of availableMusics; let musicIndex = index;">
                <td class="img"><img class="cover-img" src="../../../assets/images/cover.jpg"></td>
                <td class="cover-and-title">{{ music.title }}</td>
                <td class="artist">{{ music.artist }}</td>
                <td>{{ music.album }}</td>
                <td>{{ music.genre }}</td>
                <td>{{ music.date }}</td>
                <td class="actions">
                    <button class="button-buy">Buy</button>
                    <button>
                        <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                    <button (click)="setMusicByIndex(musicIndex)">
                        <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                        </app-my-svgs>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- GRID VIEW -->
    <div class="grid-view-container" *ngIf="!isOnListView">

        <div class="grid-item" *ngFor="let music of availableMusics ; let musicIndex = index;" >
            <img class="grid-item-cover" src="../../../assets/images/cover.jpg">
            <div class="grid-item-hover">
                <button class="button-buy">Buy</button>
                <button>
                    <app-my-svgs [svgName]="SvgNameEnum.HEART" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
            <div class="grid-info-container">
                <div class="grid-item-text">
                    <h2 class="text artist">{{ music.artist }}</h2>
                    <p>{{ music.title }}</p>
                    <p>{{ music.album }}</p>
                </div>
                <button class="grid-heart-button" (click)="setMusicByIndex(musicIndex)">
                    <app-my-svgs [svgName]="SvgNameEnum.PLAY" [width]="'14px'" [height]="'14px'">
                    </app-my-svgs>
                </button>
            </div>
        </div>

    </div>
</section>

